[[task]]
TaskName = "UwbTracking"
Id = 11
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = ["camera/camera", "mivinsfollowing", "mcr_uwb", 'controller_server', 
                      "planner_server", "recoveries_server", "bt_navigator"]

[[task]]
TaskName = "LaserMapping"
Id = 5
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []

[[task]]
TaskName = "LaserLocalization"
Id = 7
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []

[[task]]
TaskName = "VisionMapping"
Id = 5
OutDoor = true
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []

[[task]]
TaskName = "VisionLocalization"
Id = 7
OutDoor = true
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []

[[task]]
TaskName = "NavAB"
Id = 1
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = ["controller_server", "planner_server", "recoveries_server" , "bt_navigator", "map_server"]

[[task]]
TaskName = "PosesThrough"
Id = 2
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []

[[task]]
TaskName = "VisionTracking"
Id = 13
OutDoor = false
DepsNav2LifecycleNodes = [""]
DepsLifecycleNodes = ["camera/camera_align","mivinsfollowing", "tracking", "controller_server",
                      "planner_server", "recoveries_server", "bt_navigator", "vision_manager"]

[[task]]
TaskName = "ResetNav"
Id = 0
OutDoor = false
DepsNav2LifecycleNodes = []
DepsLifecycleNodes = []


[[task]]
TaskName = "AutoDock"
Id = 9
OutDoor = false
DepsNav2LifecycleNodes = [""]
DepsLifecycleNodes = ["charging_localization", "controller_server", "planner_server", "recoveries_server",
                      "bt_navigator"]
